:root {
	--menu-function-item-height: 20px;
	--menu-function-item-whitespace: 26px;

	--menu-background-color: #999;
	--menu-frontground-color: #DDD;
	--menu-active-background-color: #66F;
	--menu-active-frontground-color: #fff;
	--menu-disabled-background-color: 'transparent';
	--menu-disabled-frontground-color: #999;

	--menu-outline-color: #000;

	--menu-spearator-color: #ccc;
	--menu-spearator-whitespace-x: 13px;
	--menu-whitespace-y: 5px;
}

span.menu-item-expanding::before {
	content: '>';
}

.menu {
	border: 1px solid #000 !important;
}