$unit-size: 6px !default;

$size-map: (
	sm: $unit-size,
	md: $unit-size * 2,
	lg: $unit-size * 4
);

:root {
	@each $name, $size in $size-map {
		--menu-size-#{$name}: #{$size};
	}

	--menu-bar-height: #{map-get($size-map, lg) * 1.25};

	--menu-front-color: rgb(204, 204, 204);
	--menu-back-color: rgb(60, 60, 60);

	--menu-mute-front-color: #999;
	--menu-mute-back-color: rgba(255, 255, 255, 0.1);

	--menu-stress-front-color: #fff;
	--menu-stress-back-color: rgb(9, 71, 113);

	--menu-animation-duration: 0.3s;
}

div.menu-bar {
	div.menu-bar-button.focus {
		background-color: var(--menu-mute-back-color);
	}
}

div.menu-scope {
	ul.menu {
		box-shadow: 0 2px 4px 0 var(--menu-back-color);

		li.menu-item.focus {
			background-color: var(--menu-stress-back-color);
			color: var(--menu-stress-front-color);
		}
	}

	span.menu-item-expanding::before {
		content: '>';
	}

	li.menu-item.checked {
		span.menu-item-checkbox::before {
			content: '√';
		}
	}
}